body{
	font-family: arial;
}

.topleft{
	margin: 6px;
	float: left;
	display: inline-block;
}

.topright{
	margin: 6px;
	float:right;
	display: inline-block;
}

a{  
   padding: 2px;
   font-size: 16px;
   text-decoration: none;
}

a:hover{
   text-decoration: underline;
}

.border{
	padding-top: 28px;	
}

.project{
	float: left;
	width: 50%;
	text-align: center;
	display: inline-block;
}

.column{
	float: right;
	width: 50%;
	text-align: center;
	display: inline-block;
}