body{
	background-color: rgb(225, 215, 205);
	font-family: Arial;
}

.topleft{
	margin: 6px;
	float: left;
	display: inline-block;
}

.topright{
	margin: 6px;
	float:right;
	display: inline-block;
}

a{  
   padding: 2px;
   font-size: 16px;
   text-decoration: none;
   color: inherit;
}

a:hover{
   text-decoration: underline;
}

.horizon{
	padding-top: 28px;	
}

.left{
	float: left;
	width: 50%;
	text-align: center;
	display: inline-block;
}

.right{
	float: right;
	width: 50%;
	text-align: center;
	display: inline-block;
}

ul{
	list-style: none;
}

ul li::before {
  content: "\200B";
}